
:root{
  --orange--:orange;
  --white--:white;
  --green--:#25D366;
  --blue--:#1877F2;
  --bluefade--:#0A66C2;
  --cyan--:#4A90E2;
  --black--:#181717;
  --white--:#fff;
}

#testimonials .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--white--);
    opacity: 0.5;
  }
  
  #testimonials .carousel-indicators .active {
    opacity: 1;
    background-color: var(--blue--);
  }
  
  #testimonials .carousel-indicators {
    bottom: -30px;
  }
  
  #testimonials .carousel-item p.lead {
    font-size: 1.5rem;
    font-style: italic;
  }
  
  #testimonials .carousel-item h5 {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #testimonials .carousel-item p.text-muted {
    font-size: 1rem;
    color: var(--white--) !important;
  }
  
  .carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-indicators {
  display: none;
}


@media (max-width: 767px) {
    #testimonials{
      margin-top: -6px;
    }
  }


  @media (min-width: 768px) and (max-width: 1024px) {

    #testimonials{
        margin-top: -6px;
      }
  }